@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
}
.backdrop {
  background-color: grey;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-content {
  background-color: white;
  padding: 4rem;
}