@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: black;
}
.backdrop {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding-top: 0.5rem;
  gap: 1rem;
}
.overlay-content h2 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  letter-spacing: 4px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.form input {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 3px solid rgb(0, 0, 0);
  transition: all 1s ease;
}
.form input:focus {
  outline: none;
  background-color: #3db5eb;
}
.form button {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  background-color: RED;
  border: none;
  letter-spacing: 4px;
  transition: all 0.5s ease;
}
.form button:hover {
  font-size: 1.2rem;
  transform: translateY(2px);
  background-color: greenyellow;
  letter-spacing: 8px;
}
