@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.firebase-container {
    width: 100%;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.firebase-container input {
  width: 40%;
  margin: 0 auto;
  padding: 0.5rem 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
  border: none;
}
.firebase-container button {
  background-color: aqua;
  border: none;
  width: 40%;
  margin: 0 auto;
  padding: 0.5rem 0.2rem;
  text-align: center;
  border-radius: 0.5rem;
  transition: all 0.65s ease-in-out;
}
.firebase-container button:hover {
  transform: translateY(0.2rem);
  background-color: greenyellow;
  letter-spacing: 0.2rem;
}

/*  */
