@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  background-color: #000;
}

nav {
  color: white;
}

h2 {
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

.header-container .scoreboard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: red;
  margin-top: 1rem;
}

.header-container .scoreboard img {
  width: 50px;
}

.header-container .timer {
  color: white;
}

.dog-img {
  width: 70px;
  height: 70px;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dashed white;
  border-radius: 5px;
}

.dog-img-container {
  margin: 1rem;
}

.question-container {
  padding: 2rem;
  width: 100%;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.input-boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}
.input-boxes button {
  cursor: pointer;
}
button {
  height: 30px;
}
