@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  background-color: #000;
}

nav {
  color: white;
}

h2 {
  color: white;
}
.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-container .scoreboard {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: red;
}

.header-container .scoreboard img {
  width: 50px;
}

.header-container .timer {
  color: white;
}

.dog-img {
  width: 70px;
  height: 70px;
}

.question {
  display: flex;
  padding: 1rem .5rem;
  align-items: center;
  justify-content: center;
  border: 3px dashed white;
  border-radius: 5px;
  gap:1rem;
}

.dog-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
.question-description h2 {
  font-size: 0.96rem;
  text-align: start;
  word-spacing: 1px;
}

.input-boxes {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.input-boxes button {
  cursor: pointer;
}
button {
  height: 30px;
}
.cat-img-container {
 
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat-img-container .cat {
  width: 30%;
  height: 6rem;
  object-fit: contain;
}

.cat-chatbox {
  width: 70%;
  color: #fff;
}
.buttons {
  min-width: 4rem;
  max-width: fit-content;
  min-height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin:0 .5rem;
  font-size: .65rem;
}
