@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
  /* background-color: black; */
}

.container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .background-img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .smalldog {
    visibility: hidden;
    width: 100px;
    height: 100px;
    left: 30vw;
    position: relative;
    animation-delay: 1s;
    animation-name: dogfired;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition: 3s;
  }
  
  @keyframes dogfired {
    0% {
      visibility: visible;
      left: 35vw;
    }
    40% {
      left: 30vw;
    }
    50% {
      left: 20vw;
    }
    75% {
      left: 15vw;
    }
    100% {
      left: -100vw;
    }
  }
  
  .cat-container {
    width: 50%;
    
  }
  
  #catPicture {
    visibility: hidden;
    position: absolute;
    left: 7.5rem;
    z-index: 2;
    background-color: none;
    object-fit: cover;
  }
  
  #catPicture.visible {
    visibility: visible;
  }
  
  .cat-img {
    visibility: hidden;
    object-fit: cover;
    position: relative;
    animation-delay: 2s;
    animation-name: catenters;
    animation-duration: 7s;
    animation-iteration-count: 1;
    transition: 3s;
  }
  @keyframes catenters {
    0% {
      visibility: visible;
      left: -100vw;
    }
    100% {
      visibility: visible;
      left: 0px;
    }
  }
  
  .inactive {
    display: none;
  }
  
  .bossChatbox {
    line-height: 1.5rem;
    border-radius: 10px;
    padding: .5rem;
    text-align: center;
    background-color: white;

    width: 80%;
  }
  .bossChatbox p{
   color: white;
  }
  
  .boss-dog-container {
    width: 50%;
    z-index: 2;
  }
  .bossdog-img {
    object-fit: cover;
    z-index: 2;
  }
  /*  */
  #chatBox {
    width: 100vh;
    margin-top: 1rem;
    color: white;
    height: 20vh;
    padding: 1rem;
    text-align: center;
  }
  
  #chatBoxText {
    visibility: hidden;
    font-size: 1rem;
    line-height: 1.8rem;
    width: 100%;
    padding: 2rem;
    border-radius: 5px;
    margin: 0 auto;
    border: 3px solid white;
    font-size: 1rem;
    color: white;
  }
  
  #chatBoxText.visible {
    visibility: visible;
  }
  
  .chatBox-container {
    position: absolute;
    background-color: none;
    top: 20%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    z-index: 2;
  }
  #chatBoxBtns {
    display: none;
  }
  
  #chatBoxBtns.display {
    display: flex;
    justify-content: space-around;
  }
  
  #chatBoxBtns button,#chatBoxBtns a {
    font-size: 1rem;
    position: relative;
    background-color: rgb(251, 251, 251);
    top: 0.5rem;
    padding: 0.5rem 1rem;
    color: black;
  }
  
  #chatBoxBtns button:hover,#chatBoxBtns a:hover {
    transition: 0.2s;
    background-color: brown;
  }
  