@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", cursive;
}
body {
  background-color: #000;
}

.inactive {
  visibility: hidden;
}
.container-wrong-answer {
  position: absolute;
  display: flex;
  justify-content: center;
  animation: fadeIn 3s ease-out;
  animation-play-state: paused;
  height: 16rem;
}

@keyframes fadeIn {
  from {
    height: 0px;
  }
  to {
    height: 16rem;
  }
}
.wrong-answer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #454545;
  padding: 0 2rem;
  width: 60%;
  color: #fff;
  z-index: 2;
}

.info-div__header {
  display: flex;
  justify-content: center;
  animation: flashingText 4s infinite;
}

@keyframes flashingText {
  0% {
    color: #b95656;
    text-shadow: 2px 2px 0px #bb33c5;
  }
  25% {
    color: #3a86ff;
    text-shadow: 2px 2px 0px #8338ec;
  }
  50% {
    color: #fb5607;
    text-shadow: 2px 2px 0px #ff006e;
  }
  75% {
    color: #ff006e;
    text-shadow: 2px 2px 0px #fb5607;
  }
  100% {
    color: #b95656;
    text-shadow: 2px 2px 0px #bb33c5;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
}
.doors-anim{
  transform: perspective(300px) rotate(0deg);
  animation:open 2s linear;
}
@keyframes open {
  0%{
    transform: perspective(300px) rotateY(0deg);
  }
 
  100%{
    transform: perspective(300px) rotateY(90deg);
  }
}

.content-doors {
  padding-top: 10rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.torch {
  width: 7rem;
  height: 7rem;
}

.chatbox {
  padding: 2rem 1rem;
  width: 100%;
  text-align: center;
  border: 3px dashed white;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
}

.chatbox-text {
  color: #fff;
  font-size: 1rem;
}
.cat-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
